/**/
*{
    margin: 0;
    padding: 0%;
    font-family:/*'Franklin Gothic Medium',*/  Arial, sans-serif;
  }


  body{
    padding-left: 5%;
    padding-right: 5%
  }
  header{
    background-color: #C5DDFE;
    align-items: center;
    font-size: 150%;
    display: flex;

  }

  img header{
    height: auto;
    width: auto;
  }

  .blog-banner{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 5px;
  }


  .section-1{
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    padding: 1rem;
  }

  .section-2{
    display: flex;
    background-color: #C5DDFE;
    justify-content: space-between;
    padding: 1rem;
  }

  .sections-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-style: italic;
    font-size: 1rem;
    padding-left: 5%;
    padding-right: 5%;
  }



  .blog-title{
    font-size: 2rem;
    color: #000000;
    display: flex;
    justify-content: center;
    padding: 1rem 2.5rem 0;
    position: relative;

  }

  .blog_user{
    color: #000000;
    position: relative;
    padding: 0 2.5rem;
    z-index: 2;
  }

  .div-blog{
    display: flex;
    align-items: center;
    text-align: center;
    font-style: italic;
    gap: 2rem;
    font-size: 1rem;
    padding-left: 5%;
    padding-right: 5%;
  }

  #parrafo{
    display:flex;
    justify-self: left;
    text-align: left;
  }

  .comments{
    background-color: #C5DDFE;
    display: flexbox;
    gap: 2rem;
    padding:  2.5rem;
    position: relative;
 
  }

  .comment-input, .comment-submit{
    padding: 5px; /* Adjust padding to increase size */
    font-size: 20px; /* Adjust font size to increase size */
    border-radius: 5px; /* Optional: Add rounded corners */
  }


.image{
    width: 44%;
    height: auto;
    block-size: auto;
    display: flex;
    padding: 1rem;
}

.blog-options{
    display: flex;
    justify-content: center;
    padding: 1rem;
    position: relative;
    z-index: 2;
}

.img-blog{
    width: auto;
    height: 16rem;
    display: flex;
    padding: 1rem;
}
.p-1{

  justify-content: center;
  font: center;
  margin: auto;
  text-align: center;
}

.h-comment{
 
  padding:  0 0 1rem 0;
  

}

@media(max-width: 728px){
  .blog-banner{
    display: flex;
    flex-direction: column;
  }

  .blog-options{
    display: flex;
    flex-direction: column;
  }

  .blog-title{
    display: flex;
    flex-direction: column;
 
  } 

  .div-blog{
    display: flex;
    flex-direction: column; 
  }

  .p-1{
    display: flex;
    flex-direction: column;
  }
  
  #parrafo{
    display:flex;
    flex-direction: column;
   }

  .image{
    display: flex;
    flex-direction: column;
  }

  section{
    display: flex;
    flex-direction: column;
  }

  .column-div{
    display: flex;
    flex-direction: column;
  }
}

